APP_NAME=InertiaDevtoolsTestApp
APP_ENV=local
APP_KEY=base64:AckfSECXIvnK5r28GVIWUAxmbBSjTsmF/0rZoKCTBbE=
APP_DEBUG=true
APP_URL=http://127.0.0.1:13337

INERTIA_DEVTOOLS_ENABLED=true

LOG_CHANNEL=stack
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
DB_CONNECTION=sqlite
